<style type="text/css">
  body {
      text-align: center;
      padding-top: 16em;
  }

  h1 {
      color: #F44336;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 6em;
  }

  small {
      color: #E0E0E0;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 2em;
}
</style>


<div class="container">

  <p><h1>Dyna<strong>meet</strong<br></h1></p><small>Contact</small>

</div>